[submodule "backend"]
	path = backend
	url = https://github.com/SV22-TikiTaka/backend.git
[submodule "frontendWeb"]
	path = frontendWeb
	url = https://github.com/SV22-TikiTaka/frontendWeb.git
[submodule "frontendApp"]
	path = frontendApp
	url = https://github.com/SV22-TikiTaka/frontendApp.git
